@import "tailwindcss";


@layer base {
    @font-face {
        font-family: 'Special Gothic Expanded One';
        src: url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
        font-weight: 400;
        font-style: normal;
    }
}

@layer utilities {

    .no-scrollbar::-webkit-scrollbar-track {
        display: none;
    }

    /*.scrollbar::-webkit-scrollbar-thumb {*/
    /*    !*border-radius: 5px;*!*/
    /*    !*background: rgba(0, 0, 0, 0.35);*!*/
    /*}*/
    /*.scrollbar::-webkit-scrollbar-corner {*/
    /*    background: transparent;*/
    /*} */
    .scrollbar1 ::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 10px;

    }

    .scrollbar1::-webkit-scrollbar-track {
        width: 20px;
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;

    }


    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}


@theme {

    --font-Gothic: "Special Gothic Expanded One", sans-serif;

    --tracking-tighter: -0.05em;
    --tracking-tight: -0.025em;
    --tracking-normal: 0em;
    --tracking-wide: 0.025em;
    --tracking-wider: 0.05em;
    --tracking-widest: 0.1em;


    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;

    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --radius-4xl: 2rem;


    --blur-xs: 4px;
    --blur-sm: 8px;
    --blur-md: 12px;
    --blur-lg: 16px;
    --blur-xl: 24px;
    --blur-2xl: 40px;
    --blur-3xl: 64px;


    /*--color-black: #000000;*/
    --color-white: #ffffff;

    --color-primary-700: #4D1520;
    --color-primary-600: #971a20;
    --color-primary-500: #e31a24;

}

@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 1s ease-in-out infinite;
}



